<template name="Covidlofs">
	<div class="page-container container">
		<div class="row">
			<div class="col-md-12" id="content">
				<div class="row" id="title_row">
					<div class="col-md-12">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div id="menu" class="col-sm-3 col-md-2">
				<h2>
				</h2>
				{{> CovidlofsSideMenu}}
			</div>
			<div id="subcontent" class="col-sm-9 col-md-10">
				{{> yield region='CovidlofsSubcontent'}}
			</div>
		</div>
	</div>
</template>

<template name="CovidlofsSideMenu">
	<ul id="menu-items" class="">
		<li id="menu-item-simple" class="{{menuItemClass 'covidlofs.pending_lofs'}}">
			<a href="{{pathFor 'covidlofs.pending_lofs'}}">
				<span class="item-title">
					Pending Lofs
				</span>
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'covidlofs.received_lofs'}}">
			<a href="{{pathFor 'covidlofs.received_lofs'}}">
				<span class="item-title">
					Received Lofs
				</span>
			</a>
		</li>
	</ul>
</template>

